body { 
	/*
	background: rgb(239,197,67);*/
	/*background: #D5BD72;*/
	background: #CCC099;
	color: white;
	margin: 0px;
	padding: 0px; 
	font-family: 'proxima-nova';
	font-size: 12px;
	background-image: url('desert.png'); 
	background-repeat: no-repeat; 
	background-position:center top ; 

}
@font-face {
	font-family: 'proxima-nova';
	src: url(ProximaNova-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'proximanovalight';
	src: url(proximanovalight.ttf) format('opentype');
}

#canvas{
	margin: 10px auto; 
	max-width:960px; 
	padding: 75px;
}

#header{
	height:79px; 
	background: transparent;
	margin: 0px; 
	padding: 0px;
	max-width: 960px;
}

#logo{
	width: 172px;
	height: 82px;
	float: left;
	color: black;
	font-weight: bold;
	font-size: 37px;
}

#logo p{
	margin: 0px;
	padding: 0px;
	line-height: 27px;
	font-variant: small-caps;
	letter-spacing: 2.7px; 
 

}


#logo p:hover{
	cursor: default;
}

#title {
	font-size: 24px;
	letter-spacing: 1.4px;
	color: white;
	font-variant: small-caps;
	max-width: 100px;
	max-height: 20px;
	font-weight: normal;

}


#nav{
	float: right;
	margin-top: 61px;
}

.nav_label{
	color: white;
	text-decoration: none; 
	font-size: 17px;
	font-variant: small-caps;
	margin-left: 32px;
	letter-spacing: 3px;
}

.nav_label:hover{
	color: #CB0103;
	/*color: black;*/
}


#spacing{
	margin-bottom: 1px;
}


#home_div{
	margin-bottom: 25px;
}
#home{
	text-decoration: none;
	color: white; 
	font-size: 13.6px;
	font-variant: small-caps;
	letter-spacing: 2px;

}

#home:hover{
	/*color: #5e1a34;*/
	color: #CB0103;
	
}
.content{ 
	margin: 0px;  
	background: transparent; 
	margin-top: 88px; 
	padding-bottom: 118px;
}

.divider{ 
	height: 6px; 
	width: 100%; 
	opacity: 0.4;
	background: transparent; 
	text-align: center; 
	margin: auto; 

}

#top_divider{
	height: 3px;
}

#contact{
	font-size: 14px;
	letter-spacing: .5px;
	float: right;
	font-weight: none;
	font-family: 'proximanovalight';
}
/*///////////////////////////////
///////////// HOME //////////////
///////////////////////////////*/

#creature {
	position: absolute; 
	width: 427px; 
	text-align: center; 
	z-index: 1; 
	padding-left: 200px; 
} 

#stat{
	position: absolute; 
	z-index: 3; 
	margin-left: 637px;
	margin-top: 100px;  
	width: 200px; 
}


.stat_button{
	text-decoration: none;
	max-width: 300px;
	max-height: 40px;
	margin-bottom: 7px;
}

.stat_label{
	color: white;
	font-size: 18px;
	text-align: center;
	font-variant: small-caps;
	letter-spacing: .5px;
	margin-right: 70px;
	margin-top: 1px;
	padding: 0px;
	float: right;
}

.stat_label:hover{
	/*color: black;*/
	color: #CB0103;
}


.stat_icon {
	-moz-box-shadow:inset 0px 1px 0px 0px #c98f49;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c98f49;
	box-shadow:inset 0px 1px 0px 0px #c98f49;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	border:3px outset #6b4e13;
	display:inline-block;
	height:15px;
	width:15px;
	margin-bottom: 17px;
}

/*///////////////////////////////
//////////// ABOUT //////////////
///////////////////////////////*/

#about{
	/*color: rgba(89,83,66,1);
	color: #5e1a34;*/
	color: #CB0103;
}

#about:hover{
	/*color: black;*/
	color: #CB0103;
}

#portrait{
	float: left;
	margin: auto;
	margin-top: 73px; 
}

#photo_size{
	height: 300px;
	margin-left: 56px;
}

#aboutMe{
	text-align: left;
	color: black;
	font-size: 15px; 
	margin-left: 480px;
	letter-spacing: .6px;
	max-width: 470px;
	line-height: 24px;
	margin-bottom: -108px;
	margin-top: -13px;
}


.mojo_link{
	text-decoration: none; 
	color: rgba(89,83,66,1);

}

.mojo_link:hover{
	color: white;

}

#email{
	float:right;
	margin: 0px;
	margin-top: -10px;
}

#sig{
	width: 250px;
	float:right;
	margin-top:-8px;
	margin-left: 100px;
}

/*///////////////////////////////
///////////PORTFOLIO/////////////
///////////////////////////////*/


.portfolio{
	width: 960px;
	margin: auto;
	margin-top: 230px;
	height: auto;
	margin-bottom: 100px;
}

.row{
	width: 960px;
	height: 212px;
}

.proj{
	max-width: 275px;
	margin-left: 22px;
	margin-right: 22px; 
	float: left;
	text-decoration: none; 

}

#first_proj{
	margin-left: 11px;
}

#last_proj{
	margin-right: 0px;
}

.darken{
	background-color: white;
	height: 200px;
	text-align: center; 
	margin: 0px;
	margin-top: 10px;  
	color: black; 
	letter-spacing: 2px;
	font-variant: small-caps;
	font-size: 13px;
}


.darken:hover{
	color: #CB0103;
}

.proj_icon{
	max-width: 200px;
	margin: 0px; 
}

.proj_icon:hover{
	opacity: .9;
}

.darken:hover{
	background-color: white;
}

/*///////////////////////////////
///////////PROJECTS/////////////
///////////////////////////////*/

#proj_header{
	color: black;
	height: 132px;
	font-size: 15px;
	letter-spacing: 1.1px; 
}

#title_group{
	font-variant: small-caps;
	margin:0px;
	height: 21px;
	margin-bottom: 10px;
}

#proj_title{
	font-size: 20px;
	font-weight: bold; 
	max-width: 700px;
	float:left;
	margin: 0px;
	margin-right: 7px;
	color: #CB0103;
}

#proj_role{
	font-weight: bold; 
	font-size: 17px;
	margin: 0px;
	max-width: 600px;
	float: left; 
	margin-top:3px;
}

#software{
	font-size: 14px;
	margin: 0px;
	margin-bottom: 5px;
}

#proj_date{
	font-size: 14px;
	margin-top:2px;
	margin: 0px;
}

#break_down{
	font-size: 14px;
	margin: 0px;
	margin-top:2px;
}

#main_vid{
	width: 960px; 
	height: 540px;
	margin: 0 auto;
}

.caption{
	font-size: 13px; 
	color: black;
	margin-top: 5px;
	float: left;
	width: auto;
	font-weight: bold;
}

.about_proj{
	margin: 0 auto;
	line-height: 23px;
	margin-top: 35px;
	font-size: 15px; 
	color: black;
	width: 890px;
	letter-spacing: .5px;
	text-align: center;
}

.proj_heading{
	font-weight: bold;
	font-size: 17px;
	color: black;
	margin-bottom: 50px;
	text-align: center; 
}

#proj_documentation{
	margin-top: 100px;
	width: 960px;
	height: auto; 
	margin-bottom: 100px;
	text-align: center; 
}

#back_to_portfolio a{
	text-decoration: none;
	font-size: 13.6px;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: black;
	float: left;
	width: 140px;
	margin-bottom: 9px;
	font-weight: bold;
	text-align: center;
} 

#back_to_portfolio a:hover{
	color: #CB0103;
}


#arrows a{
	text-align: center;
	text-decoration: none;
	font-size: 13.6px;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: black;
	float: right;
	width: 40px;
	margin-bottom: 9px;
	font-weight: bold;
	margin-left: 7px;
}

#arrows a:hover{
	color: #CB0103;
}

.video{
	padding-top: 3px;
	width: 965px;
	height: 543px;
	background: #1C1A1A;
	text-align: center; 
}

.doc{
	text-decoration: none;
	margin: 3px;
}


.doc_icon{
	height: 230px;
	width: 230px;
	text-decoration: none;
	margin:3px;
}

.doc_icon:hover{
	opacity: .8;
}
/*/////////PROJECT 1//////////*/


#mojo_intro{
	height: auto;
	width: 960px;
	margin-bottom: 100px;
}
#proj1_process{
	width: 960px;
	height: 500px;
	margin-top: 200px;
	margin-bottom: 120px;
}

#proj1_process_slide{
	width: 400px;
	height: auto;
	float: left;
}

#proj1_bee_slide{
	width:400px;
	height: 427px;

}

#proj1_bee_slide img{
	width: 400px;
	float: left;
}

#proj1_proj_decr{
	margin-left: 135px;
	float: left;
	max-width: 310px;
	text-align: left; 

}


#proj1_bucket_slide{
	width: 960px;
	height: 540px;
}

#proj1_bucket_slide img{
	margin: auto 0;
	width: 960px;
	height: 540px;

}

/*/////////PROJECT 2//////////*/

#proj2 {
	width:960px;
	margin: 0 auto;
	height: auto;
}


#proj2_sketch{
	width:960px;
	height: auto;
}

#critter_dev {
	width: 960px;
	margin-top: 33px;
}


#critter_dev_caption{
	margin-top: -30px;
}

#proj2_process{
	width: 960px;
	height: auto;
	margin-top: 200px;
	margin-bottom: 120px;
}

#proj2_process_desc{
	margin-top: 100px;
}

#bandit {
	width:960px;
	height: 454px;
	margin-top: 100px;
	margin-bottom: 120px;
}

#bandit_pic{
	width: 500px;
	float: left;
}

#bandit_pic img{
	width: 500px;
}


#bandit_desc{
	max-width: 280px;
	margin-left: 135px;
	float: left;
	text-align: left;
}


#proj2_save_me_slide{
	width: 960px;
	height: 540px;
}

#proj2_save_me_slide img{
	margin: auto 0;
	width: 960px;
	height: 540px;
}


/*/////////PROJECT 3//////////*/



#real_fight_icon{
	width: 130px; 
	float: left; 
	margin-right: 10px;

}

#mojo_begins{
	margin-top: 3px;
	width: 960px;
}

#proj3{
	width:960px;
	margin: 0 auto;
	height: auto;
	margin-bottom: 100px;
}

#pose_strip{
	width: 300px;
	margin: 0px;
	margin-left: 100px;   

}

#proj3_process{
	height: auto;
	margin-top: 100px;

}

#proj3_first_imag{
	margin-top: 100px;
}

.proj3_image{
	margin:auto;
	width: 690px;
}




/*/////////PROJECT 4//////////*/

#proj4{
	width:960px;
	margin: 0 auto;
	height: auto;
}

#proj4_process{
	height: auto;
	margin-top: 100px;
}

#rufus{
	margin-bottom: 67px; 
}

#rufus_decrip{
	margin-bottom: 57px;
}
#rufus img{
	width: 960px;
}

#rufus_ref1{
	height: 520px; 
}

#rufus_ref1 img{
	width: 960px; 
	text-align: center; 
	height:480px;
}

#rufus_ref{
	margin-top: 23px; 
	width: 960px;
	height: 1600px; 
	margin-bottom: 100px;
}

#rufus_ref2{

	width: 637px; 
	float: left;
}

#rufus_ref3{
	width: 292px; 
	float: left;
	margin-left: 30px;
}

#rufus_ref4{
	margin-top: 10px;
	width: 960px;
}


/*///////////////////////////////
////////////SKETCHES/////////////
///////////////////////////////*/

#sketches{
	color: #CB0103;
}

#sketches:hover{
	color: #CB0103;
}

#sketchbook{
	margin:auto;
	width: 650px;
	margin-top: 100px;
	color: black;
	text-align: center;
}


.sketch {
	text-decoration: none;
	display: inline-block;
	margin: 3.5px;
	
}

.sketch_icon{
	width: 150px;
	height: 150px;
	text-decoration:none; 
	
}

.sketch_icon:hover{
	opacity: .8; 

};