body { 
	/*
	background: rgb(239,197,67);*/
	/*background: #D5BD72;*/
	background: #CCC099;
	color: white;
	margin: 0px;
	padding: 0px; 
	font-family: 'proxima-nova';
	font-size: 12px;
	background-image: url('desert.png'); 
	background-repeat: no-repeat; 
	background-position:center top ; 

}
@font-face {
	font-family: 'proxima-nova';
	src: url(ProximaNova-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'proximanovalight';
	src: url(proximanovalight.ttf) format('opentype');
}

#canvas{
	margin: 20px auto; 
	width:960px; 
	padding: 20px;
	padding-bottom: 40px;
}

#header{
	height:79px; 
	background: transparent;
	margin: 0px; 
	padding: 0px;
	width: 960px;
	height: 117px;
	text-align: center;
}

#index_header{
	height:79px; 
	background: transparent;
	margin: 0px; 
	padding: 0px;
	height: 117px;
	text-align: center;
}

#logo{
	width: 255px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 7px;
}

#title {
	font-size: 12px;
	letter-spacing: 4px;
	color: white;
	font-variant: small-caps;
	max-width: 600px;
	font-weight: lighter;
	margin: auto;

}


#nav{
	width: 500px;
	margin: auto;
	background-color: #CCC099;
	position: relative;
	z-index: 1;
}

.nav_label{
	color: white;
	text-decoration: none; 
	font-size: 17px;
	font-variant: small-caps;
	margin-left: 16px;
	margin-right: 16px;
	letter-spacing: 3px;
	position: relative;
	z-index: 2;
}

.nav_label:hover{
	color: #CB0103;
	text-decoration: underline;
	/*color: black;*/
}

.socialIcon{
	width: 17px;
	vertical-align: middle;
}


#spacing{
	margin-bottom: 1px;
}


#home_div{
	margin-bottom: 25px;
}
#home{
	text-decoration: none;
	color: white; 
	font-size: 13.6px;
	font-variant: small-caps;
	letter-spacing: 2px;

}

#home:hover{
	/*color: #5e1a34;*/
	color: #CB0103;
	
}
.content{ 
	margin: 0px;  
	width: 960px;
	background: transparent; 
	margin-top: -35px; 
	padding-top: 100px;
	padding-bottom: 118px;

}

#index_content{ 
	margin: 0px;  
	background: transparent; 
	margin-top: -35px; 
	padding-top: 100px;
	padding-bottom: 118px;

}

.divider{ 
	height: 6px; 
	width: 100%; 
	opacity: 0.4;
	background: transparent; 
	text-align: center; 
	margin: auto; 

}

#top_divider{
	height: 3px;
}

#contact{
	font-size: 14px;
	letter-spacing: .5px;
	float: right;
	font-weight: none;
	font-family: 'proximanovalight';
	color: #2c2724;
}

#insta{
	margin-right: 10px; 
	text-decoration: none; 
	color: #2c2724;

}

#insta:hover{
	color: #CB0103;
}

.link{
	text-decoration: none; 
	font-weight: bold;
	color: #CB0103;
}

.link:hover{
	color: white;
}


/*///////////////////////////////
///////////// HOME //////////////
///////////////////////////////*/

#creature {
	position: absolute; 
	width: 427px; 
	text-align: center; 
	z-index: 1; 
	padding-left: 200px; 
} 

#stat{
	position: absolute; 
	z-index: 3; 
	margin-left: 637px;
	margin-top: 100px;  
	width: 200px; 
}


.stat_button{
	text-decoration: none;
	max-width: 300px;
	max-height: 40px;
	margin-bottom: 7px;
}

.stat_label{
	color: white;
	font-size: 18px;
	text-align: center;
	font-variant: small-caps;
	letter-spacing: .5px;
	margin-right: 70px;
	margin-top: 1px;
	padding: 0px;
	float: right;
}

.stat_label:hover{
	/*color: black;*/
	color: #CB0103;
}


.stat_icon {
	-moz-box-shadow:inset 0px 1px 0px 0px #c98f49;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c98f49;
	box-shadow:inset 0px 1px 0px 0px #c98f49;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	border:3px outset #6b4e13;
	display:inline-block;
	height:15px;
	width:15px;
	margin-bottom: 17px;
}

/*///////////////////////////////
//////////// ABOUT //////////////
///////////////////////////////*/

#about{
	padding-top: 10px;
	height: 532px;
}


#portrait{
	float: left;
	margin: auto;
	margin-top: 73px; 
}

#photo_size{
	height: 300px;
	margin-left: 31px;
}

#aboutMe{
	text-align: left;
	color: black;
	font-size: 15px; 
	float: left;
	margin-left: 115px;
	letter-spacing: .6px;
	max-width: 470px;
	line-height: 24px;
	margin-bottom: -108px;
	margin-top: -13px;
}



#email{
	float:right;
	margin: 0px;
	margin-top: -10px;
}

#sig{
	width: 250px;
	float:right;
	margin-top:15px;
	margin-bottom: 10px;
	margin-left: 100px;
}

#statement{
	text-decoration: none; 
	color: #EDE8E8;
}

#statement:hover{
	color: #CB0103;
}

/*///////////////////////////////
///////////PORTFOLIO/////////////
///////////////////////////////*/


.portfolio{
	/*width: 960px;*/
	margin: auto;
	height: auto;
}

#row_proj{
	width: 965px;
	height: 471px;
	margin-top: 63px;
	margin: auto;
}

.proj{
	width: 230px;
	margin-left: 5px;
	margin-right: 5px; 
	float: left;
	text-decoration: none; 
	margin-bottom: 5px;
	display: block;
}


.darken{
	text-align: center; 
	margin: 0px;
	color: black; 
	letter-spacing: 2px;
	font-variant: small-caps;
	font-size: 13px;
	text-decoration: none; 
}


.white_bg {
	background: white;
	height: 230px;
}


.proj:hover p {
	color: #CB0103;
}

.proj:hover .proj_icon {
	opacity: 0.9;
}

.proj_icon{
	width: 230px;
	margin: 0px;
}



.proj p {
	margin: 15px 0 0;
	padding: 0;
}



#artist_demo_reel{
	/*width:960px;*/
	height: 338px;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 48px;

}

.reel_header{
	color: black;
	height: 100px;
	font-size: 17px;
	letter-spacing: 1.1px; 
	margin-left: 53px;
	margin-bottom: 19px;
	font-variant: small-caps;
	font-weight: bold;
}

.icon_desc{
	margin-bottom: 15px;
}


#projects_header{
	color: black;
	height: 50px;
	font-size: 15px;
	letter-spacing: 1.1px; 
	margin:0px;
	margin-top: 23px;
	margin-left: 21px;
}

.reel_caption{
	margin: 0px;
	float: right;
	color: white;
	margin-right: 53px;
}

#reelCover{
	width: 853px;
	height: 480px;
	background-image: url("Portfolio/reel cover.png");
	background-size: 853px 480px;
	cursor: pointer;
	left:0;
	right:0;
	margin:auto;
	margin-bottom: 3.64px;
	position: absolute;
	z-index: 2
}

#reelHover{
	background-image: url("Portfolio/reel cover hover.png");width: 853px;
	height: 480px;
	background-image: url("Portfolio/reel cover hover.png");
	background-size: 853px 480px;
	cursor: pointer;
	left:0;
	right:0;
	margin:auto;
	margin-bottom: 3.64px;
	z-index:1;
	position:absolute;
}

#reelHover:hover{
	width: 853px;
	height: 480px;
	background-image: url("Portfolio/reel cover hover.png");
	background-size: 853px 480px;
	cursor: pointer;
	margin:auto;
	margin-bottom: 3.64px;
	z-index:2;
}

#reelCover:hover{
	/*background-image:url("Portfolio/reel cover hover.png");*/
	z-index: 1
}

/*///////////////////////////////
///////////PROJECTS/////////////
///////////////////////////////*/

#proj{
	width: 960px; 
	margin: 0px;
	padding:0px;
	overflow: hidden;
}

#proj_process{
	width: 960px;
	margin-bottom: 120px;
	text-align: center;
}
#proj_process{
	width: 960px;
	height: auto;
	margin-top: 120px;
	margin-bottom: 120px;
}

#proj_header{
	color: black;
	height: 132px;
	font-size: 15px;
	letter-spacing: 1.1px; 
}


#proj_icon{
	width: 130px; 
	float: left; 
	margin-right: 10px;
	padding-bottom: 30px;

}

#title_group{
	font-variant: small-caps;
	margin:0px;
	height: 21px;
	margin-bottom: 10px;
}

#proj_title{
	font-size: 20px;
	font-weight: bold; 
	max-width: 700px;
	float:left;
	margin: 0px;
	margin-right: 7px;
	color: #CB0103;
}

#proj_role{
	font-weight: bold; 
	font-size: 17px;
	margin: 0px;
	max-width: 600px;
	float: left; 
	margin-top:3px;
}

#software{
	font-size: 14px;
	margin: 0px;
	margin-bottom: 5px;
}

#proj_date{
	font-size: 14px;
	margin-top:2px;
	margin: 0px;
}

#break_down{
	font-size: 14px;
	margin: 0px;
	margin-top:2px;
}

#main_vid{
	width: 960px; 
	height: 540px;
	margin: 0 auto;
}

.image{
	margin:auto;
	width: 690px;
	margin-bottom: 12px;
}


.caption{
	font-size: 13px; 
	color: black;
	margin-top: 5px;
	float: left;
	width: auto;
	font-weight: bold;
}

.projimg{
	width:960px;
	height: auto;
	margin-top: 35px;
}

.about_proj{
	margin: 0 auto;
	line-height: 23px;
	margin-top: 35px;
	font-size: 15px; 
	color: black;
	width: 890px;
	letter-spacing: .5px;
	text-align: left;
}

.proj_heading{
	font-weight: bold;
	font-size: 17px;
	color: black;
	margin-top: 50px; 
	margin-bottom: 50px;
	text-align: center; 
}

#proj_documentation{
	margin-top: 100px;
	width: 960px;
	height: auto; 
	text-align: center; 
}

#footer{
	padding-top: 100px;
}

#back_to_portfolio a{
	text-decoration: none;
	font-size: 13.6px;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: black;
	float: left;
	width: 140px;
	margin-bottom: 9px;
	font-weight: bold;
	text-align: center;
} 

#back_to_portfolio a:hover{
	color: #CB0103;
}


#arrows a{
	text-align: center;
	text-decoration: none;
	font-size: 13.6px;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: black;
	float: right;
	width: 40px;
	margin-bottom: 9px;
	font-weight: bold;
	margin-left: 7px;
}

#arrows a:hover{
	color: #CB0103;
}

.video{
	padding-top: 3px;
	width: 965px;
	height: 543px;
	background: #1C1A1A;
	text-align: center; 
}

.doc{
	text-decoration: none;
	margin: 3px;
}


.doc_icon{
	height: 230px;
	width: 230px;
	text-decoration: none;
	margin:3px;
}

.doc_icon:hover{
	opacity: .8;
}

#html5-watermark{
	display: none !important; 
}
/*/////////PROJECT ORLA'S HIVE//////////*/


#proj_Orlas_Hive_process{
	width: 960px;
	height: 500px;
	margin-top: 200px;
	margin-bottom: 120px;
}

#proj_Orlas_Hive_process_slide{
	width: 400px;
	height: auto;
	float: left;
}

#proj_Orlas_Hive_slide{
	width: 400px;
	height: 427px;

}

#proj_Orlas_Hive_slide img{
	width: 400px;
	float: left;
}

#proj_Orlas_Hive_decr{
	margin-left: 135px;
	float: left;
	max-width: 310px;
	text-align: left; 

}

.doc_reel{
	margin:0;
	padding:0;
	margin-top: 10px;
	margin-bottom: 10px;
}



/*/////////PROJECT MOJO//////////*/





.mojo_link{
	text-decoration: none; 
	color: #EDE8E8;

}

.mojo_link:hover{
	color: #CB0103;

}

#mojo_intro{
	height: auto;
	width: 960px;
	margin-bottom: 100px;
}

#mojo_begins{
	margin-top: 3px;
	width: 960px;
}

#projMojo{
	width:960px;
	margin: 0 auto;
	height: auto;
	margin-bottom: 100px;
}

#pose_strip{
	width: 300px;
	margin: 0px;
	margin-left: 100px;   

}

#projMojo_process{
	height: auto;
	margin-top: 100px;

}





/*/////////PROJECT RUFUS//////////*/

#projRufus{
	width: 960px;
	margin: 0 auto;
	height: auto;
}

#projRufus_process{
	height: auto;
	margin-top: 100px;
}

#rufus{
	margin-bottom: 67px; 
}

#rufus_decrip{
	margin-bottom: 57px;
}
#rufus img{
	width: 960px;
}

#rufus_ref1{
	height: 520px; 
}

#rufus_ref1 img{
	width: 960px; 
	text-align: center; 
	height:480px;
}

#rufus_ref{
	margin-top: 23px; 
	width: 960px;
	height: 1600px; 
	margin-bottom: 100px;
}

#rufus_ref2{

	width: 637px; 
	float: left;
}

#rufus_ref3{
	width: 292px; 
	float: left;
	margin-left: 30px;
}

#rufus_ref4{
	margin-top: 10px;
	width: 960px;
}

/*/////////PROJECT SAVE ME NEXT TIME//////////*/

#projSaveMeNextTime {
	width:960px;
	margin: 0 auto;
	height: auto;
}


#critter_dev {
	width: 960px;
	margin-top: 33px;
}


#critter_dev2 {
	width: 960px;
	height: 540px;
	margin-top: 25px;
}


#proj2_process_desc{
	margin-top: 100px;
}



/*/////////VINE//////////*/

#cloth_gif{
	margin-top: 20px;
}



/*/////////PROJECT SAVE ME NEXT TIME//////////*/

#prodBook{
	opacity: 1;
	width: 960px;
	text-align: center;

}

#prodBook:hover{
	opacity: .9;
}

/*///////////////////////////////
////////////SKETCHES/////////////
///////////////////////////////*/

#sketches{
	color: #CB0103;
}

#sketches:hover{
	color: #CB0103;
}

#sketchbook{
	margin:auto;
	width: 650px;
	margin-top: 50px;
	color: black;
	text-align: center;
}


.sketch {
	text-decoration: none;
	display: inline-block;
	margin: 3.5px;
	
}

.sketch_icon{
	width: 150px;
	height: 150px;
	text-decoration:none; 
	
}

.sketch_icon:hover{
	opacity: .8; 

}

.sketch_heading{
	font-weight: bold;
	font-variant: small-caps;
	font-size: 17px;
	color: black;
	margin-bottom: 50px;
}

.sketch_divide{
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
	margin-top: 50px;
	margin-bottom: 50px; 
}
/*////DISNEY 2D////////
//////////////////////*/

.sketch_title{
	font-family:"proxima-nova";
	font-variant: small-caps;
	font-size: 17px; 
	color: black;
	text-align: left;
	letter-spacing: 0.7px;
	margin-bottom: 25px;
}