
/*///////////////////////////////
////////// SCROLL BAR ///////////
///////////////////////////////*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b497ab;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #945d83
}


/*///////////////////////////////
/////////// WEB BODY ////////////
///////////////////////////////*/

html{
	scroll-behavior: smooth;
}

body {

	background: #f3f3f3;
	color: #111;
	margin: 0px;
	padding: 0px;
	font-family: 'proxima-nova';
	font-size: 18px;

}

body, body * {
    max-height: 10000000px;
} 

@font-face {
	font-family: 'proxima-nova';
	src: url(ProximaNova-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'proximanovalight';
	src: url(proximanovalight.ttf) format('opentype');
}

@font-face {
	font-family: 'TheDoctor';
	src: url(TheDoctor.ttf) format('opentype');
}

.break {
  flex-basis: 100%;
  height: 0;
}

#header{
	display: flex;
	max-width: 1440px;
  padding: 60px 20px 56px 20px;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
 

}

#siteTitle{
	font-size: 67.475px;  
	font-family:'TheDoctor';
	text-align: center;
 	color: black; 
	text-decoration: none;
	width: 470px;
}
 

#NavBar{
	display: flex;
	align-self: center;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	row-gap: 30px;
	flex-wrap: wrap;
}


#nav{
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: baseline;
	align-self: center;
	flex-wrap: wrap;
	row-gap: 15px;
 
}

.nav_label{
 
	text-decoration: none;
	padding: 5px 20px ;
	border-radius: 15px;
	align-items: center;
	display: flex;
	align-self: start;
}

.nav_label a{
	letter-spacing: 1.5px;
	text-decoration: none; 
	color: #616164;
	text-align: center;
	font-weight: 400;
}


.nav_label.active{
		background:#A53D83;
}

.nav_label.active a{
	color:white;

}

.nav_label a:hover{
	color: #A53D83;
}

.nav_label.active a:hover{
 	color: white;
	background:#A53D83;
}


.socialIcon{
	width: 17px;
	vertical-align: middle;
}


.sociallink{
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: middle;
	display: flex;
	justify-content: flex-start;
}


.content{
	max-width:1440px;
	margin:auto;
	padding-top: 88px;
	padding-bottom: 37px;
	line-height: 1.5em;
}

.content_mid{
	max-width: 944px;
	margin: auto;
	margin-bottom: 45px;
}

.content_wide{
	max-width: 1300px;
	margin: auto;
	overflow: auto;
	margin-bottom: 45px;
}


.content_wrapper_dark{
	background-color: #eeeeee;
}

.outsized {
	width: var(--wide-content);
	margin-left: calc((var(--wide-content) - var(--normal-content)) / 2 * -1);

	@media screen and (max-width: 1200px) {
		width: 100%;
		margin-left: auto;
	}
}

.flex {	
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	flex-wrap: wrap;

	&.three > div {
		max-width: 350px;
	}

	&.two > div {
		max-width: 550px;
	}

	@media screen and (max-width: 1200px) {
		&.three > div, &.two > div {
			max-width: none;
		}
	}

	img {
		max-width: 100%;
	}
}

.content_wrapper_purple {
	background-color: rgba(165, 61, 131, 1);

	.content {
		color: white;
		padding-top: 88px;
		padding-bottom: 88px;

		h2, h3 {
			color: white;
		}
	}
}

:root {
	--wide-content: 1200px;
	--normal-content: 1000px;
}

.normal-content {
	max-width: var(--normal-content);
}

.wide-content {
	max-width: var(--wide-content);
}

ol, ul {
	li {
		margin-bottom: 1rem;
	}
}

.content_warpper_light{
	background-color: #f3f3f3 ;
}


#index_content{
  width: 100%;
	margin: 0px;
	background: transparent;
	padding-bottom: 45px;
/*	display: flex;
  flex-direction: column;
  gap: 69px;*/

}


#contact{
	max-width: 1440px;
  padding:30px;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: auto;

}

#footer_bubble{
display: flex;
padding: 10px 30px;
justify-content: flex-end;
align-items: flex-start;
gap: 25px;
background: #a53d83;
border-radius: 20px;
}
 

#footerTitle{
	padding-top: 10px;
	font-family: "The Doctor";
	font-size: 30px;
	position: absolute;
	left: 50%;
  
}

#insta{
	margin-right: 10px;
	text-decoration: none;
	color: #f3f3f3;
}

#insta:hover{
	color: #945d83;
	font-weight: bold;
}


#email{
	float:right;
	margin: 0px;
	margin-top: -10px;
	font-size: 21px;
	font-weight:600;
	margin-right:10px;
}



.link{
	text-decoration: none;
	font-weight: bold;
	color: #a53d83;

}

.link:hover{
	color: #c10083;
}

#info_wrapper{
	margin:auto;
	text-align:center;
	font-size: 18px;
	color:#444;
	margin-bottom:17px;
}

#title_wrapper{
	margin:0px;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	padding: 1.5em 0;
	padding-bottom:0px;
	line-height: 1.5em;
}

#flex-tableContents{
	background-color: rgba(243,243,243,0.7);
	backdrop-filter: blur(3px);
	position: sticky;
	display: flex;
	justify-content: center;
	top: 0px;
	z-index: 1000;
	margin: auto;
	padding: 5px 15px 10px 15px;
	max-width: 900px;
	border-radius: 0 0 50px 50px;
	transition: .7s box-shadow;


	flex-wrap: wrap;
	gap: 10px;

}


#flex-tableContents[stuck]{
	box-shadow:0 0 7px #979696; 
}

#flex-tableContents a.active{
	color:  #c10083;
}

.tableLabel{
	position:  relative;
	padding-right:  10px;
	border-right:  1px solid #a49999;
	font-weight:  bold;
	text-decoration: none;
	color: black;
}

.tableLabel:hover{
	color: #c10083;

}

@media screen and (max-width: 1310px){


	.content {
    width: 100%;
    padding: 88px;
    box-sizing: border-box;
  }

}

 
@media screen and (max-width: 970px) {
	#NavBar {
		justify-content: center;
	}



  #nav {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-top: 15px;
    
    border-width: thin;
    box-sizing: border-box;
    /*background:  #ebebeb;*/
  }

  .nav_label {
    margin: 0 6px;
    
  }

  #siteTitle{
		font-size: 60px;
	}


	.content {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
		padding: 26px 30px 66px 30px;
  }


 
	#paintedcornerTitle{
		border-right: none;
	}


	#flex-tableContents{
		gap: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.tableLabel{
		padding-right: 8px;
	}
 

}

@media screen and (max-width: 700px){

 #siteTitle{
 	font-size: 50px;
 }


#nav{
	font-size: 16px;
}
} 



@media screen and (max-width: 500px){
	#nav{
		gap:4px;
	}

	.nav_label{
		padding: 5px 10px;
	}

}

/*///////////////////////////////
///////////// VIDEO /////////////
///////////////////////////////*/

#reelWrapper{
	position: relative;
	margin: 0 auto;
	text-align:center;
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;

}


.videoWrapper{
	margin: 0px;
	margin:auto;
	text-align:center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}



.videoWrapper_2{ /*avoid all videos playing at once*/
	margin: 0px;
	margin:auto;
	text-align:center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin-bottom: 80px;
}



.playButton_wrapper{
	position: absolute;
	text-align: center;

	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}


.playButton{
	width: 150px;
	display: block;
	opacity: 1;
	margin: auto;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
	filter: drop-shadow(0 0 0.9rem black);
}

.playButton.index{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}


.videoTitle{
	color: white;
	display: block;
	font-size: 33px;
	margin:0px;
	padding-top:15px;
	opacity: 0;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
	}


.playButton p{
	display:  block;
	color: white;
	font-size: 33px;
	margin:0px;
	padding-top:15px;
}


.projVideo{
  width: 100%;
	margin:auto;
	display: block;
	opacity:1;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
}

.VideoCover{
  width: 100%;
	margin:auto;
	display: block;
	opacity:1;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
}



#reelCover{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
	opacity:.8;
	border-radius: 20px;

	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
}

@media screen and (max-width: 1440px) {
  #reelCover { height: auto; }
}


.darken{
	text-align: center;
	margin: 0px;
	color: black;
	letter-spacing: 2px;
	font-variant: small-caps;
	font-size: 13px;
	text-decoration: none;
}


#artist_demo_reel{
	text-align: center;
	margin:auto;
	background: #020000;
	max-width: 1440px;
	border-radius: 20px;
	margin-top:69px;
/*	margin:0px;
  padding: 30px 0;*/
}



#darkVideo{
	overflow: hidden;
	float:left;
	margin: 0px;
	background: black;
	border-radius: 20px;
}



@media screen and (max-width: 1310px) {


  .playButton img, img.playButton { 
  	width: 108px; 
  }
  

  .videoTitle { 
  	font-size: 25px; 
  }

  .playButton_wrapper{
  	padding: 20px 20px;
  	border-radius: 15px;
  	width: max-content;

  }

  .VideoCover{
  	opacity: 0.7!important;
  }

  .playButton{
  	filter: drop-shadow(0 0 0.9rem black);
  	opacity: 1!important;
  }

  .videoTitle{
  	filter: drop-shadow(0 0 0.9rem black);
  	opacity: 1!important;
  }
}

@media screen and (any-pointer: coarse) {
  .projVideo, #reelCover { opacity: .4!important; }
  .playButton, .videoTitle { opacity: 1!important; }
  /*.other_proj img { opacity: 0.4!important; }*/
  .other_proj .text_wrapper { opacity: 1!important; }
}



@media screen and (max-width: 700px) {
	#reelCover{
		max-width: 100%;
		opacity: 0.7!important;
	}

	.playButton img, img.playButton { 
		width: 85px;
	} 

	.videoTitle{
	color: white;
	font-size: 1em;
 
	margin:0px;
	padding-top:5px;
	}




}


/*///////////////////////////////
///////////// HOME //////////////
///////////////////////////////*/

#homeTitle{
	font-size: 2.3em;
	color: black;
	padding-bottom: 55px;
	max-width: 817px;
	margin: auto;
	margin-bottom: 50px;
	border-bottom: 1px solid #945d83;

}

#intro{

display: flex;
flex-direction: column;
align-items: flex-start;
gap:27px;
margin: auto;
max-width: 1440px;
font-size: 2em;
}

#intro p{
	margin: 0px;
}

#intro div{
	background: black;
	color: white;
	border-radius: 0px 25px 25px 25px;
	padding: 7px 10px;
}

.proj_titleGroup{
	text-align: left;
	margin: 0;
	padding: 0;
	color: black;
}

.proj_text{
	margin:0;
	padding:0;

}

.proj_text.title{
	font-weight: bold;
}

.proj_text.descrip{
	font-size:.7em;
}

.proj_text.role{
	font-size:.6em;
	padding-bottom: 5px;
	color:#797979;
}

.proj_subtitle{
	font-size: 	.7em;
	color: #3b4040;
	margin-top: 3px;
	margin-bottom: 	4px;
	
}


.portfolio{
	margin: auto;
	height: auto;
	text-align: center;
}

.proj_wrapper{
	padding-bottom: 45px;
	text-align: center;
	color: #f3f3f3;
	font-size: 1.3em;
	display: flex;
	flex-wrap: wrap;
	/*grid-template-columns: repeat(4, 1fr);*/
	width: 1440px;
	margin: 0 auto;
	row-gap:85px;
	column-gap: 85px;
	justify-content: center;

}

.projCover{
	box-sizing: border-box;
	position:relative;
}

.projCover.wide{
	width: 63.98%;
}

.projCover.short{
	width: 32.5%;
}

.projCover.mid{
	width: 45%;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0; 
	overflow: hidden; 
	max-width: 100%; } 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 

}


.embed-container.index{
	/*padding-bottom: 47.25% ;*/
}

.proj_photo{
	width:100%;
	margin:0;
	padding:0;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
	border-radius: 20px;
	display: block;
}


.proj_photo_full{
	width:100%;
	margin:0;
	padding:0;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
	border-radius: 20px;
	display: block;
}


.proj_title{
	text-align: center;
	position: absolute;
	color: white;
	text-decoration: none;
	font-size: 1em;
	opacity: 0%!important;

	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	opacity: 0;

	transition: opacity .3s linear;
	transition-delay: .2s;
	transition-timing-function: ease-in-out;
	width: max-content;
}

.proj_descrip{
	font-size: .5em;
}



#proj_wrapper:after{
	content: "";
	display:table;
	clear: both;
}

.DarkTint{
  margin: 0px;
	background: black;
  border-radius: 20px;

}

.DarkTintBig {
  border-radius: 13px;
}


@media screen and (max-width: 1310px) {
  .proj_wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    gap:29px;
  }

  .proj_title{
		opacity: 100%!important;
		border-bottom: 0px;
		padding:  2% 5%;

		background: rgba(0,0,0,0.7);
		border-radius: 15px;
		width: max-content;
		font-size: 0.8em;
	}

	#index_content{
		padding:  0 20px 20px 20px; 
		box-sizing: border-box;
	}

	.proj_titleGroup{
		display: none;
	}

}



@media screen and (max-width: 900px){

	#index_content{
		padding:  0 20px 20px 20px; 
		box-sizing: border-box;
	}


	#homeTitle{
		max-width: 322px;
		font-size: 1.7em;
		padding-bottom: 27px;
		margin-bottom: 31px;
	}

	.proj_title{
		opacity: 100%!important;
		border-bottom: 0px;
		padding:  5px 10px;
		background: rgba(0,0,0,0.7);
		border-radius: 15px;
		font-size: 1.4em;
	}

		.proj_title.full{

			max-width: 300px ;

		}

		.proj_title.short{
			max-width: 108px;
		}


	.proj_wrapper{
		gap: 10px;
		font-size: 18px;
		padding-left: 0;
		padding-right: 0;
	}

	.projCover.wide{
		width: 100%
	}

	.projCover.short{
		width: 48%
	}

	.projCover.mid{
		width: 100%
	}

	.proj_photo_full{
		width: 100%;
		border-radius: 15px;

		display: block;
	}

	.proj_photo{
		border-radius: 15px;

		display: block;

	
	}

	.DarkTint{
		border-radius: 15px;
		

	}

	.DarkTintBig{
		border-radius: 15px;
		
	}

	#intro{
		font-size: 1.5em;
	}

}

@media screen and (max-width: 500px){

 

 #intro{
		font-size: 1.2em;
	}

} 



/*///////////////////////////////
///////////// PROJ //////////////
///////////////////////////////*/

.video{
	border-radius: 20px;
}

.lg-backdrop{
	background-color: white;
}

.lg-next,.lg-prev{
	color:#959595 ;
	background-color:  rgb(255 255 255 / 8%);
}

.lg-outer .lg-thumb-outer{
	background-color: #efefef
}

.lg-toolbar .lg-icon:hover{
	color: black;
}

.lg-next:hover:not(.disabled), .lg-prev:hover:not(.disabled){
	color: black;
}


.divider{
	border-bottom: 1px solid #b7b7b7;
	width: min(600px,100%);
	margin: auto;
 	margin-bottom: 69px;
 	margin-top: 69px;
 

	/*margin-bottom: 76px;*/
}

.spacing_afterCaption{
	height: 87px;
}

#spacing_stickyNav{
	height: 50px;
}

.spacing_text2Pic{
	height: 18px ;
}

.spacing_section{
	height: 82px;
}

.spacing_subsection{
	height:  88px;
}

#flex_descrip_wrapper{
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
	justify-content: space-between;
	margin: auto;
	margin-top: 57px;
	gap: 29px;
	padding-bottom: 137px;

}



#flex_awards{
	display: flex;
	justify-content: flex-start;
	max-width: 575px;
	margin-top: 34px;
	gap: 5px;

}

.pressIcons{
	text-decoration: none;

}

.pressIcons img{
	border-radius: 15px;
	height: 50px;
	display: block;
	margin: 0;
}

.content h1, .content h2, .content h3 {
	line-height: 1.3em;
}

.content h3{
	color: #a53d83;
	font-weight: bold;
	font-size: 1.7em;
}

.content h4{
	color:#111;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

.content h2{
	color: #a53d83;
	font-size: 3.0em;
	margin-top: 10px;
	margin-bottom: 40px;
}

.content h1{
	width: auto;
	font-size: 3.2em;
	font-weight: bold;
	color: #c10083;
	margin-top: 0;
	margin-bottom: 10px;
}

.subSection{
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 10px;
}


.textContent{
	max-width: 575px;
	margin: 0px;
	padding-left: 0px;
}

.textContent.wide{
	max-width: 944px;
}


.textContent.right{
	padding: 30px 20px 0 20px;
	margin: auto;

}

.textContent.right p{
	margin: 0;
}


.effectWide{
	width: 40%
}


.info_wrapper{
	text-align: left;
}



#info-two{
	order:  1;
	width:600px;
}	

#info-three{
	align-self:end;
	order:  2;
	width:600px;
}

#info-four{
	order:  3;
	width:600px;

}

.info_secondary{
	margin-top: 8px;
	margin-bottom: 0px;
	max-width: 500px;
	font-weight: bold;
	
}

.info_secondary.role{
	color: white;
	background-color: #A53D83;
	padding:15px;
	border-radius: 30px;
	width: fit-content;
	font-weight: 	normal;
}




#credits_wrapper{
	margin:auto;
	text-align:center;
	max-width: 900px;
}

#credits_wrapper .title{
	border: 1px solid #a53d83;
	padding: 64px;
	padding-top:15px;
	padding-bottom:15px;
	margin:0px;
	color:  #a53d83;
	border-radius: 50px;
}

#credits_wrapper h2:hover{
	color:  #f3f3f3;
 
}


#credits_wrapper button{
	border:none;
	background-color:#f3f3f3;
	padding: 0px;
	cursor: pointer;
	outline: none;
}

#credits_wrapper button:hover{
	background-color: #a53d83;
	border-radius: 50px;
}


#credits{
	color: #999;
	display: none;
	padding-top: 20px;
}

#credits_2{
	color: #999;
	display: none;
	padding-top: 20px;
}

#Secondcredits{
	color: #999;
	display: none;
	padding-top: 20px;
}


.credits_column{
	float: left;
	width: 33.33%;
	padding: 10px;
	height: auto;
	/*background-color: #e4e4e6;*/
	box-sizing: border-box;
}

.credit{
	padding:0;
	padding-bottom: 27px;
	margin:0px;
}

.credits_column h2{
	margin-bottom:2px;
	margin-top:0px;
	font-size:17px;
	color:#444;
}

.credits_column p{
	margin-top:6px;
	font-size: 17px;
	margin-bottom:0px;
	margin-top:0px;

}


#credits:after{
	content: "";
	display:table;
	clear: both;
}

#credits_2:after{
	content: "";
	display:table;
	clear: both;
}

.gallery{
	width:  100%;
	height:  829px;
 
}

.lg-download{
  display: none;
}

#wetware-concepts{
	height: 598px
}


#IPADUI{
	height: 873px;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
	border-color: #c10083;
}


.galleryThumb{
	width: 100%;
}


.photos_wrapper{
	overflow: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.photos_wrapper.center{
	justify-content: center;
}

.photo_wrapper{
	padding:6px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;

}

.photo_wrapper.x2{
	float: left;
	width: 50%;

}


.photo_wrapper.full{
	width: 100%;
	float: left;
}

.photo_wrapper.up3{
	padding:6px;
	width: 33.333333%;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}

.photo_wrapper.x2.vert{
	width: 35%;
}

#charConcepts{
	width: 62%;
}


.photo{
	display:block;
	height: auto;
	width:100%;
	margin: 0;
}

.photo img{
	width: 100%;
}

.photo_noZoom{
	width: 100%;
	border-radius: 20px;
}

#other_proj_wrapper{
	max-width: 1500px;
	margin:auto;
	display:flex;
	justify-content: center;
	gap: 1.5%;
	flex-wrap: wrap;

	margin-top: 2px;
	overflow: hidden;
	color: #111;

}

.other_proj{
	width:20%;

	display:inline;
	float:left;
	padding:6px;
	box-sizing: border-box;
	border:0px;
	position: relative;
}



.other_proj_photo{
	width:100%;
	transition: opacity .4s linear;
	transition-timing-function: ease-in-out;
	display: block;
	border-radius: 10px;

}

.other_proj_photo:hover{
	opacity:.3;

}

.other_proj.title{
	color: white;
	border: 0;
	padding: 0;
	margin: 0;
	width: 314px;
	font-size: 1.7em;
 
 
}

.other_proj_descrip{
	font-size: .5em;
}

.effectIcon{
	width: 20%;

}

.text_wrapper{
	text-align: center;
	position: absolute;
	opacity: 0;

	left:50%;
	top:50%;
	transform: translate(-50%,-50%);

	transition: opacity .5s linear;
	transition-delay: .2s;
	transition-timing-function: ease-in-out;
}

.summary{
	margin:auto;
	text-align: left;
	display:block;
	font-size: 18px;
	max-width: 900px;
	margin: 25px 19% auto;


}

.summary.mid{
	text-align: center;

}

.summary.design{
	text-align:left;
	margin: 0px;
	margin-left:15px;
	margin-right:15px;
}

.summary p{
	margin:0px;
	line-height: 1.4;
	letter-spacing: .2px;
}

.exhibit{
	margin:auto;
	text-align: center;

}



#role{
	font-weight: 200;
	font-size: 18px;
	margin:0px;
	color: #999;
}


#software{
	margin: 0px;
	color: #999;
}



.caption{
	font-size: .8em;
	color: black;
	width: fit-content;
	margin: auto;
	margin-top: 28px;
}



#html5-watermark{
	display: none !important;
}


.photo_wrapper.x2 iframe{
	width: 100%;
}

.photo_wrapper.quad{
	width:20%; 
	float:none;
}

.photo_wrapper.quadLarge{
	width: 26%;
}

.photo_wrapper.up3.tri{
		width:23%; 
		float:none;
	}

.photo_wrapper.w39{

	width: 39%;

}

#w69{

	 width:  69%

}


.tiktokVid_full{
	width: 30%;
	margin: 20px;
}


#testingExFlow_1{
	order: 1;
}

#testingExFlow_2{
	order: 2;
}



@media only screen and (max-width:  1310px){


	.info_wrapper{
		max-width: 400px;
	}

	#flex_descrip_wrapper{
		max-width: 950px;
	}

	#charSketch{
		width: 43%;
	}


#charConcepts{
	width: 57%;
}

.gallery{
	height: 665px;
}

#wetware-concepts{
	height: 569px;
}

.textContent.right{
	padding: 13px 0 0 20px;

}

	.text_wrapper{
		background: rgba(1,1,1,0.3);
		padding:  7% 10%;
		border-radius: 15px;
		opacity: 100%!important;
	}

	.other_proj.title{
		width: 140px;
		font-size: 1.3em;
	}

	
}

@media only screen and (max-width: 1065px) {

.info_secondary.role{
	margin:auto;
}

#info-two{
		order:  2;
	}	

	#info-three{
		align-self:auto;
		order: 1;
		text-align: left;
		max-width: 600px;

	}

	#info-four{
		order:  3;

	}


	#flex_descrip_wrapper{
		justify-content: center;
		margin-top: 56px;
		padding-bottom: 64px;
		max-width: 725px;
	}

	.info_wrapper{
		text-align: center;
		max-width: none;
	}

	#flex_awards{
		justify-content: center;
		max-width: 363px;
		margin: auto;
		margin-top: 34px;
		flex-wrap: wrap;
	}


		.textContent{
			text-align: left;
		}

		.content h3{
			text-align: left;
		}

		.photo_wrapper.up3.tri{
		width: 26%;
	}

	.photo_wrapper.up3.tri.amaSectionPhotos{
	width: 40% ;
		}


}

@media only screen and (max-width: 950px) {

	.galleryx2{

		width: 100%!important;

	}

	.amaDescrip{
		width: 60%!important;
	}

	.photo_wrapper.x2 { 
		width: 80%;
	}

	.photo_wrapper.up3{
		width: 50%;;
	}

	#w69{

	 width:  75%
	}

	.photos_wrapper{
		justify-content: center;
	}

	.photo_wrapper.x2.vert{
	width: 75%;
		}

	.photo_wrapper.quadLarge{
	width: 44%;
		}

	.photo_wrapper.w39{

	width: 56%;

	}

	.photo_wrapper.up3.left{
		width:33%
	}
	.photo_wrapper.up3.mid{
		width:33%
	}
	.photo_wrapper.up3.right{
		width:33%
	}

	.photo_wrapper.up3.tri{
		width: 33%;
	}

	.photo_wrapper.quad{
		width:25%; 
		float:none;
	}

		#charSketch{
		width: 60%;
	}


	#charConcepts{
		width: 100%;
	}


	.other_proj{
		padding: 2px;
		width: 43%;
	}

	#other_proj_wrapper{
		gap: 10px;
	}

	.other_proj.title{
		font-size:  1.7em;
	}

	.spacing_afterCaption{
	height: 50px
	}

	

	#tiktokIteration > *:nth-child(1){order: 2}

	#tiktokIteration > *:nth-child(2){order: 0}

	#tiktokIteration > *:nth-child(3){order: 1}


	#LefRightSwap > *:nth-child(1){order: 1}
	#LefRightSwap > *:nth-child(2){order: 0}

 
		.caption{
			font-size: .9em;
		}

	}


@media only screen and (max-width: 700px) {

	.amaDescrip{
		width: 100%!important;
	}

	.momentoExhibit{
		width: 50%!important;
	}

	#info-two{
		order:  2;
	}	

	#info-three{
		align-self:auto;
		order: 1;
		text-align: left;
		max-width: 332px;
			width:fit-content;
	}

	#info-four{
		order:  3;

	}


	.photo_wrapper.x2 { 
		width: 100%;
	}

	 

	.photo_wrapper.quad{
		width:49%; 
		float:none;
	}

	.photo_wrapper.up3.tri{
		width:32%; 
		float:none;
	}

.photo_wrapper.up3.tri.amaSectionPhotos{
	width: 59% ;
}

	.tiktokVid_full{
	width: 70%;
}

	.caption{
		margin: 5% 5%;
		line-height: 1.3em;
	}


	#role{
		font-size:  14px;
	}

	.summary{
		margin:  25px 5% auto;
	}

	.summary.design{
		margin: 0px 4% auto;
	}

	#software{
		font-size: 14px;
		margin: 0px 5% auto;
	}


	#credits{
		margin: 0px 5% auto;
	}

	#credits_2{
		margin: 0px 5% auto;
	}


	.credits_column p{
		font-size: 14px;
	}

	.credits_column h2{
		font-size: 14px;
	}

	#other_proj_wrapper{
		margin-top: 0px;
		margin: 0px 1% auto;
		gap: 4%;
		row-gap: 20px;
	}

	.other_proj{
		padding: 2px;
		width: 43%;
	}

	.other_proj.title{
		width: 100px;
		font-size: 1.5em;
 

	}

	.other_proj_descrip{
	font-size: .5em;
}


	.other_proj_photo{
		border-radius: 15px;
		filter: drop-shadow(0 0 2px black);
		display: block;

	}

	.photo_wrapper.up3{
		width: 100%;;
 
	}

	#w69{

	 width:  100%

}
	.photo_wrapper.up3.left{
		width:100%
	}
	.photo_wrapper.up3.mid{
		width:100%
	}
	.photo_wrapper.up3.right{
		width:100%
	}


	#IPADUI{
	height: 476px;
	}

	.gallery{
		height: 392px;
		}

	#charSketch{
		width: 88%;
	}


	#charConcepts{
		width: 100%;
	}

	#wetware-concepts{
		height: 301px;
	}

	#flex_descrip_wrapper{
		justify-content: center;
		margin-top: 30px;
		padding-bottom: 64px;
	}

	.info_wrapper{
		text-align: center;
		max-width: none;
	}

	#flex_awards{
		justify-content: center;
		max-width: 363px;
		margin: auto;
		margin-top: 34px;
		flex-wrap: wrap;
	}

	.textContent{
		text-align: left;
 

	}

	.textContent.right{
	padding: 0;
	}
	.content h1{
		font-size: 3em;
	}

	.content h2{
		font-size: 2em;
	}

	.content h3{
		text-align: left;
		font-size: 1.3em;
	}



	.divider{
	max-width: 342px ;
	}

	.text_wrapper{
		background: rgba(1,1,1,0.3);
		padding:  7% 8%;
		border-radius: 15px;
		opacity: 100%!important;
	}


.photo_wrapper.x2.vert{
	width: 88%;
}

.photo_wrapper.quadLarge{
	width: 88%;
}

.photo_wrapper.w39{

	width: 100%;

}

#testingExFlow_1{
	order: 2;
}

#testingExFlow_2{
	order: 1;
}


#tiktokIteration > *:nth-child(1){order: 2}

#tiktokIteration > *:nth-child(2){order: 0}

#tiktokIteration > *:nth-child(3){order: 1}

.spacing_afterCaption{
	height: 50px
}

#LefRightSwap > *:nth-child(1){order: 1}

#LefRightSwap > *:nth-child(2){order: 0}

 


}



/*///////////////////////////////
//////////// ABOUT //////////////
///////////////////////////////*/

#about{
	margin:auto;
  width: 930px;
}

@media screen and (max-width: 1440px) {
  #about {
      width: 100%;
  }

  #aboutMe {
      font-size: 24px;
  }
}


#MyPhoto{
	height: 300px;
	padding:10px;

}

#aboutMe{
	margin:auto;

	color: #444;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: .2px;
	font-weight:400;


}

#aboutMe p{
	text-align: left;
}

#collab{
	font-size: 21px;
	font-weight:500;
}

@media screen and (max-width: 700px) {

	#aboutMe{
		font-size: 17px;
		margin: 0% 5%;
	}

	#MyPhoto{
		height: 229px;
	}

	#collab{
		font-size: 18px;
	}
	}

	#email{
		font-size: 18px;
	}

/*///////////////////////////////
////////////SKETCHES/////////////
///////////////////////////////*/



#galleria{
	/*width:1662px;*/
	height: 900px;
	margin:auto;
}

.galleria-theme-classic {
	background:#020000;
}


@media screen and (max-width: 700px) {

	#galleria{
		height:400px;
	}
	}

/*////////////////////////////////////
////////////Hanson Robots/////////////
/////////////////////////////////////*/


#anim-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	width: 400px;

	.anim-header {
		text-align: center;

		span {
			display: inline-block;
			font-weight: bold;
			background-color: rgba(255, 157, 91, 1);
			border-radius: 16px;
			padding: 3px 20px;
		}
	}
}

.fade-out {
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 60%);
}

.challenge-solution {
	color: black;
	text-align: center;
	margin-bottom: 2rem;

	> div {		
		padding: 20px 40px;
		border-radius: 8px;
		text-align: left;		

		h4 {
			text-align: left;
			font-size: 14pt;
			font-weight: bold;
			margin-top: 0;
		}

		p {
			margin-bottom: 0;
		}		

		&.challenge {
			background-color: rgba(255, 157, 91, 1);
		}

		&.solution {
			background-color: white;
		}
	}

	img {
		/* will: This ensures the arrow touches the box beneath. 
		 * Unclear where that space is coming from. */
		margin-bottom: -7px;
	}
}

.puppet-design {
	margin-top: 2rem;
	width: var(--wide-content);

	@media screen and (max-width: 1200px) {
		width: 100%;		
	}

	h4 {
		margin-left: -2rem;

		@media screen and (max-width: 1200px) {
			margin-left: 0;
		}
	}

	> div {
		display: flex;
		gap: 1rem;
		flex-flow: wrap;

		> img {
			max-width: var(--normal-content)
		}
		 
		> div {
			width: calc(var(--wide-content) - var(--normal-content));

			@media screen and (max-width: 1200px) {
				width: auto;
			}

			ul {
				margin-left: -1em;
			}
		}
	}
}

h4.miniheader {
	text-align: left;
	font-weight: bold;
	font-size: 16pt;
	margin-block-start: 1rem;
}