<!DOCTYPE html>
<html>
	<head>
		<title>Maryyann Crichton</title>
		<meta name="Maryyann Crichton"
          content="Empowering others to tell stories">
        <meta property="og:image" content="C:\Maryyann\maryyannlandlord.github.io\Portfolio\MemorySlugs\icon.png" />
		<meta property="og:title" content="Maryyann Crichton" />
		<meta name="description" content="Empowering others to tell stories." />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="lightbox.css" rel="stylesheet" />

		<!-- lightgallery -->
		<link type="text/css" rel="stylesheet" href="lightGallery/lightgallery.css" />

    <link type="text/css" rel="stylesheet" href="lightGallery/lg-medium-zoom.css" />

    <link type="text/css" rel="stylesheet" href="lightGallery/lg-zoom.css" />

    <link type="text/css" rel="stylesheet" href="lightGallery/lg-thumbnail.css" />

    <link type="text/css" rel="stylesheet" href="lightGallery/lg-video.css" />

		<link rel="stylesheet" href="style.css">
		<script src = "jquery-1.11.0.min.js"></script>
		<script src = "jquery.cycle.lite.js"></script>
		<script src = "app.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    	<!-- load Galleria -->
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
    	<script src="/galleria.classic.js"></script>

		<link href="lightbox.css" rel="stylesheet" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>


	<body>
	
	<div id = "header"> 
	    <div id = "NavBar">

	        <a id = "siteTitle" href= "index.html">
	          Maryyann Crichton
	        </a>
	    
	       
	      <div id = "nav">
	      	<div class = "nav_label {% if page.pageName == "index" %} active {% endif %}">
	        	<a href="index.html">Work</a>
	      	</div>
	      	<div class = "nav_label {% if page.pageName == "sketches" %} active {% endif %}"> 
	        	<a href="Sketches.html" >Sketches</a>
	      	</div>
	      	<div class = "nav_label {% if page.pageName == "about" %} active {% endif %}">
	        	<a href="About.html">About Me</a>
	     		</div>
	      
	      </div>
	     

	    </div>
	  </div>

			{{ content }}

		</div>

		<div id = "contact" >

			<p>

			<img class = "socialIcon" src = "email_icon2.png"> mlandlor@gmail.com

			</p>

		</div>

		<!-- lightgallery plugins-->
		<script src="lightGallery/lightgallery.umd.js"></script>


  	<script src="lightGallery/lg-medium-zoom.umd.js"></script>
  	<script src="lightGallery/lg-zoom.umd.js"></script>
  	<script src="lightGallery/lg-thumbnail.umd.js"></script>
  	<script src="lightGallery/lg-video.umd.js"></script>
  	<script src="lightGallery/lg-vimeo-thumbnail.umd.js"></script>
   	
  	<!-- project galleries-->
  	<script src = "Galleries.js"></script>

		<script src = "lightbox.js"></script>
		<script>
			lightbox.option({
				'fadeDuration': 0,
				'resizeDuration': 0
			});

	        // $(function() {
	        //     Galleria.run('#galleria', {
	        //     	// width: 100,
	        //     	// height: 400
	        //     });
	        // });

		</script>

	</body>
</html>
